.HeaderContainer {
    position: relative;
}

.HeaderWrapper {
    background-color: #e0dfde;
    height: 50px;
}

.CollapseContainer {
    padding-top: 15px;
    display: inline-block;
    padding-left: 15px;
    width: 10%;
}

.HeaderTitle {
    width: 80%;
    text-align: center;
    display: inline-block;
    font-size: 22px;
}

.MenuButtonContainer {
    width: 10%;
}